body {
    background-color: lightgrey;
    margin: 30px;
    padding: 30px;
}

#first-button {
    background-color: black;
    color: white;
}

#second-button {
    background-color: black;
    color: white;
}

#third-button {
    background-color: black;
    color: white;
}